.about {
  font-size: 14px;
  font-weight: 500;
}
.about .content {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 50px;
}
.about .content .content-in {
  padding: 0.4rem;
  text-align: left;
}
.about .content .content-in .title {
  font-size: 22px;
}
.about .content .content-in .author {
  font-size: 18px;
}
.about .content .content-in .tech p {
  text-indent: 10px;
}
p {
  margin-top: 0.2rem;
}
p span {
  text-decoration: underline;
}
