.shopcart-content {
  position: relative;
  max-width: 10rem;
  margin: 0 auto;
}
.shopcart-content .content-in {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  color: #3c3c3c;
}
.shopcart-content .content-in .cart-list {
  background: #fff;
}
.shopcart-content .content-in .cart-list ol .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.333rem 0;
  border-bottom: 1px solid #f6f6f6;
  line-height: 0;
}
.shopcart-content .content-in .cart-list ol .item .item-check {
  width: 0.833rem;
  height: 2.5rem;
  padding: 0 0.278rem;
  box-sizing: border-box;
}
.shopcart-content .content-in .cart-list ol .item .checked {
  background: url(../../assets/images/check_press.png) 50% 50% no-repeat;
  background-size: 0.556rem 0.556rem;
}
.shopcart-content .content-in .cart-list ol .item .unchecked {
  background: url(../../assets/images/check_normal.png) 50% 50% no-repeat;
  background-size: 0.556rem 0.556rem;
}
.shopcart-content .content-in .cart-list ol .item .item-image {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.278rem;
  border: 1px solid #eee;
  border-radius: 2px;
  box-sizing: border-box;
}
.shopcart-content .content-in .cart-list ol .item .item-image img {
  width: auto;
  height: 100%;
  border-style: none;
}
.shopcart-content .content-in .cart-list ol .item .item-info {
  text-align: left;
  flex: 1 1 auto;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-name {
  font-size: 0.389rem;
  line-height: 0.444rem;
  color: #666;
  margin-bottom: 0.167rem;
  margin-right: 0.417rem;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-price {
  padding: 0.167rem 0;
  font-size: 0.333rem;
  color: #999;
  margin-bottom: 0.167rem;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-price span {
  margin-right: 0.139rem;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num {
  display: inline-block;
  border: 1px solid #eee;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .num-sub,
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .num-add {
  display: inline-block;
  width: 0.833rem;
  height: 0.833rem;
  position: relative;
  vertical-align: middle;
  background-color: #fafafa;
  text-align: center;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .icon-sub,
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .icon-add {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .num-sub .icon-sub {
  background: url("../../assets/images/num-sub.png") 50% 50% no-repeat;
  background-size: 0.417rem 0.417rem;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .num-add .icon-add {
  background: url("../../assets/images/num-add.png") 50% 50% no-repeat;
  background-size: 0.417rem 0.417rem;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .num {
  display: inline-block;
  vertical-align: middle;
  min-width: 0.833rem;
  padding: 0 0.167rem;
  text-align: center;
  font-size: 0.444rem;
  box-sizing: border-box;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .input-num .active {
  background-color: #f4f4f4;
  opacity: 1;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .delete {
  float: right;
  margin-right: 0.278rem;
  display: block;
}
.shopcart-content .content-in .cart-list ol .item .item-info .item-num .delete .icon-delete {
  display: inline-block;
  width: 0.833rem;
  height: 0.833rem;
  background: url("../../assets/images/delete.png") 50% 50% no-repeat;
  background-size: cover;
}
.shopcart-content .content-in .cart-list .ui-line {
  height: 0.278rem;
  background: #f5f5f5;
  overflow: hidden;
  clear: both;
}
.shopcart-content .content-in .recommend-box {
  padding-bottom: 1.25rem;
}
.shopcart-content .content-in .recommend-box .recommend-top {
  width: 10rem;
}
.shopcart-content .content-in .recommend-box .recommend-top img {
  width: 10rem;
  height: 1.667rem;
}
.shopcart-content .content-in .recommend-box .recommend-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex: 1 1 auto;
  overflow: hidden;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item {
  flex: 0 1 49.5%;
  overflow: hidden;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a {
  display: block;
  outline: 0;
  border: 0;
  text-decoration: none;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a .recommend-item-image {
  position: relative;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a .recommend-item-image img {
  display: block;
  width: 100%;
  cursor: none;
  min-height: 4.944rem;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a .recommend-item-info {
  padding: 0.25rem 0.361rem 0.306rem;
  text-align: left;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a .recommend-item-info .recommend-item-name {
  border-color: #ed5b00;
  font-size: 0.389rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3c3c3c;
  line-height: 1.15em;
}
.shopcart-content .content-in .recommend-box .recommend-list .recommend-item a .recommend-item-info .recommend-item-price {
  display: inline-block;
  margin-top: 0.139rem;
  line-height: 1em;
  font-size: 0.444rem;
  color: #ff6700;
}
.shopcart-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.shopcart-footer .footer-in {
  display: flex;
}
.shopcart-footer .footer-in .price-box {
  width: 100%;
  padding-top: 0.208rem;
  text-align: center;
  color: #999;
  font-size: 0.361rem;
  flex: 1 1 auto;
}
.shopcart-footer .footer-in .price-box .price-all {
  margin-right: .2em;
  font-size: 0.556rem;
  font-weight: bolder;
  color: #ff5722;
}
.shopcart-footer .footer-in a {
  display: block;
  outline: 0;
  border: 0;
  text-decoration: none;
  cursor: none;
}
.shopcart-footer .footer-in .btn {
  display: block;
  width: 100%;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  outline: 0;
  color: #fff;
  background: #ff6700;
  font-size: 0.389rem;
  text-align: center;
  flex: 1 1 auto;
}
.shopcart-footer .footer-in .continue-buy {
  color: #333;
  background: #f4f4f4;
}
